html{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.navbar{
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.g-5{
  gap: 1rem;
}

.margens{
  right: 0;
  border: solid 1px;
}

.space{
  height: 100rem;
}